{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aditi Imgcompressor</title>
    <link rel="stylesheet" href="{% static 'css/imgcom.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <p class="heading">Image Compressor</p>
        </div>
        <div class="row">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                    {% endfor %}
            </ul>
            {% endif %}
        </div>
        <form action="compress" enctype="multipart/form-data" method=POST>
            {% csrf_token %}
            <div class="row">
                <input type="file" name="file" id="file">
            </div>
            <div class="row">
                <input type="number" name="imgsize" id="imgsize" class="imgsize" placeholder="img size in percentage" style="padding: 5px 5px;">
            </div>
            <div class="row">
                <button type="submit" class="inputbtn">Upload</button>
            </div>
        <!-- </form>
        <form action="imgdownload" method="get">
        <div class="row">
            <progress value='0' max="100" id="progress"></progress>
        </div>
        <div class="row">
            <button class="inputbtn">Download</button>
        </div>
        </form> -->
    </div>
</body>

</html>