{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{username}}'s profile</title>
    <link rel="stylesheet" href="{% static 'css/land.css' %}">
</head>
<body>
    <div class="container">
        <div class="menu">
            <p class="menuitem">Devices</p>
            <p class="menuitem">Settings</p>
            <p class="menuitem">History And logs</p>
            <p class="menuitem"><a href="logout" class="menulink">Logout</a></p>
        </div>
        <div class="itemsholder">
            
        </div>
    </div>
</body>
</html>