{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aditi</title>
    <link rel="stylesheet" href="{% static 'css/loginandsignup.css' %}">
</head>
<body>
    <div class="container">
        <div class="row"><p class="heading">Signup Form</p></div>
        <form action="signup" method="post">
            {% csrf_token %}
            {% if error_message %}
            <div class="alert">
                {{ error_message }}
            </div>
            {% endif %}
            <div class="row"><label for="email">Email</label></div>
            <div class="inptrow"><input type="email" name="email" id="email" class="logininput"></div>
            <div class="row">
                <label for="username">Username</label>
            </div>
            <div class="inptrow">

                <input type="text" name="username" id="username" class="logininput">
            </div>
            <div class="row">
                <label for="password">Password</label>
            </div>
            <div class="inptrow">

                <input type="password" name="password" id="password" class="logininput">
            </div>
            <div class="row">
                <button class="loginbtn" type="submit">Signup</button>
            </div>
            <div class="row">
                <label>Already have an account? <a href="loggingin">Login!</a> 
                </label>
            </div>
            
        </form>

    </div>
</body>
</html>