.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu{
    border-right: 2px green solid;
    display: flex;
    
    padding: 20px 40px;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}
.menuitem{
    margin: 10px 5px;
    border-bottom: 1px black solid;

}
.menuitem:hover{
    margin: 10px 10px ;
}
.menulink{
    text-decoration: none;
    color: black;
}